*.iam filter=lfs diff=lfs merge=lfs -text
*.ipt filter=lfs diff=lfs merge=lfs -text
*.stp filter=lfs diff=lfs merge=lfs -text
*.fins filter=lfs diff=lfs merge=lfs -text
*.fsat filter=lfs diff=lfs merge=lfs -text
*.ftes filter=lfs diff=lfs merge=lfs -text
*.fwiz filter=lfs diff=lfs merge=lfs -text
*.fmsh filter=lfs diff=lfs merge=lfs -text
*.fres filter=lfs diff=lfs merge=lfs -text
